<h1><center>Assignment 5

# Name: Sharimbaev Batir

# ID: 190103206

I got the points of the group "MCM" for grouping. I slightly changed the evaluation criteria. But total pooint is 100.

Practice points is Ass-1, Ass-1 is Ass-2 and etc.

Assigments - 20 percent, quiz - 30 percent and midterm - 50 percent.

In [2]:
import pandas as pd
import numpy as numpy

In [3]:
df = pd.read_csv('mcm.csv', delimiter=";")
df

,Student,ID,Assignment 1 (5/100),Assignment 2 (5/100),Assignment 3 (5/100),Assignment 4 (5/100),Quiz (30/100),Midterm (50/100)
0,Ablay Kundyz,190109010,100,90,100,103.50,85,85
1,Abzhanov Assylan,190103130,71,90,80,38.00,65,42
2,Adil Dinassyl,190107021,43,100,0,0.00,65,34
3,Aibolat Dilnaz,190109006,57,90,100,70.00,80,77
4,Aitu Nursaule,190109014,71,0,35,26.00,78,50
5,Akimkozha Zanggar,190103221,43,0,0,0.00,75,37
6,Ali Salida,190103355,100,95,100,92.00,110,89
7,Alisher Nurgul,190103158,100,90,40,85.15,80,76
8,Aman Shapagat,190109008,86,100,100,100.00,110,80
9,Anarbayeva Dana,190109002,90,100,75,67.00,83,78
10,Azhibayev Amir,190103156,25,100,0,42.00,55,0
11,Batyrbek Nurbol,190103087,0,70,0,58.45,75,64
12,Duisen Symbat,190113008,0,100,70,55.00,95,82
13,Kairova Balerke,190109009,100,100,90,58.00,95,82
14,Khalel Daryn,190103114,86,100,100,84.00,90,88
15,Lukbek Yelubay,190103201,80,70,100,120.00,90,97
16,Maksatkyzy Malika,190109004,86,100,95,85.15,85,85
17,Mukhametkhanova Aruzhan,190109017,100,100,70,33.40,65,83
18,Omar Zhaniya,190103238,86,60,80,120.00,98,97
19,Ospan Adilet,190107020,95,95,40,50.00,98,90
20,Ryszhanov Amannurly,190109016,60,0,80,0.00,95,47
21,Sabirova Zhansaya,190109005,86,100,80,0.00,98,40
22,Sapargaliyeva Guldar,190103025,57,100,100,67.00,105,82
23,Seksenbay Akboken,190109018,90,90,0,0.00,80,73
24,Sharimbaev Batir,190103206,100,70,75,94.00,93,92
25,Sharip Merey,190103254,0,0,0,0.00,78,38
26,Shayakhmetova Dayana,190103252,65,100,80,67.00,95,70
27,Tileubayev Aslan,190103258,71,95,90,54.30,73,68
28,Turekhan Aidana,190103224,100,70,100,58.45,83,87
29,Yerniyazov Dias,190107073,86,100,100,100.00,100,98
30,Zhakupova Zarina,190109013,100,100,100,100.00,108,95
31,Zhassaganbergenov Baubek,190103165,100,90,95,58.30,90,84

# Clean the data

In [4]:
# I converted float numbers to integer numbers

df['Assignment 4 (5/100)'] = [int(i) for i in df['Assignment 4 (5/100)']]
df.head(10)

,Student,ID,Assignment 1 (5/100),Assignment 2 (5/100),Assignment 3 (5/100),Assignment 4 (5/100),Quiz (30/100),Midterm (50/100)
0,Ablay Kundyz,190109010,100,90,100,103,85,85
1,Abzhanov Assylan,190103130,71,90,80,38,65,42
2,Adil Dinassyl,190107021,43,100,0,0,65,34
3,Aibolat Dilnaz,190109006,57,90,100,70,80,77
4,Aitu Nursaule,190109014,71,0,35,26,78,50
5,Akimkozha Zanggar,190103221,43,0,0,0,75,37
6,Ali Salida,190103355,100,95,100,92,110,89
7,Alisher Nurgul,190103158,100,90,40,85,80,76
8,Aman Shapagat,190109008,86,100,100,100,110,80
9,Anarbayeva Dana,190109002,90,100,75,67,83,78

# Sum, Mean, Max, Min

In [5]:
# I sent points of Ass-1 to one list
as1 = []
for point in df['Assignment 1 (5/100)']:
    as1.append(point)

# Sum, mean, max, min points of Assignment 1    
print('<<Assignment 1>>')
print()
print('Sum of points:', sum(as1))
print('Mean of points:', sum(as1)/len(as1))
print('Max of points:', max(as1))
print('Min of points:', min(as1))

<<Assignment 1>>

Sum of points: 2334
Mean of points: 72.9375
Max of points: 100
Min of points: 0

In [6]:
# I sent points of Ass-2 to one list
as2 = []
for point in df['Assignment 2 (5/100)']:
    as2.append(point)

# Sum, mean, max, min points of Assignment 2    
print('<<Assignment 2>>')
print()
print('Sum of points:', sum(as2))
print('Mean of points:', sum(as2)/len(as2))
print('Max of points:', max(as2))
print('Min of points:', min(as2))

<<Assignment 2>>

Sum of points: 2565
Mean of points: 80.15625
Max of points: 100
Min of points: 0

In [7]:
# I sent points of Ass-3 to one list
as3 = []
for point in df['Assignment 3 (5/100)']:
    as3.append(point)

# Sum, mean, max, min points of Assignment 3    
print('<<Assignment 3>>')
print()
print('Sum of points:', sum(as3))
print('Mean of points:', sum(as3)/len(as3))
print('Max of points:', max(as3))
print('Min of points:', min(as3))

<<Assignment 3>>

Sum of points: 2175
Mean of points: 67.96875
Max of points: 100
Min of points: 0

In [8]:
# I sent points of Ass-4 to one list
as4 = []
for point in df['Assignment 4 (5/100)']:
    as4.append(point)

# Sum, mean, max, min points of Assignment 4 
print('<<Assignment 4>>')
print()
print('Sum of points:', sum(as4))
print('Mean of points:', sum(as4)/len(as4))
print('Max of points:', max(as4))
print('Min of points:', min(as4))

<<Assignment 4>>

Sum of points: 1884
Mean of points: 58.875
Max of points: 120
Min of points: 0

In [9]:
# I sent points of Quiz to one list
quiz = []
for point in df['Quiz (30/100)']:
    quiz.append(point)

# Sum, mean, max, min points of Quiz
print('<<Quiz>>')
print()
print('Sum of points:', sum(quiz))
print('Mean of points:', sum(quiz)/len(quiz))
print('Max of points:', max(quiz))
print('Min of points:', min(quiz))

<<Quiz>>

Sum of points: 2775
Mean of points: 86.71875
Max of points: 110
Min of points: 55

In [10]:
# I sent points of Midterm to one list
midterm = []
for point in df['Midterm (50/100)']:
    midterm.append(point)

# Sum, mean, max, min points of Midterm
print('<<Midterm>>')
print()
print('Sum of points:', sum(midterm))
print('Mean of points:', sum(midterm)/len(midterm))
print('Max of points:', max(midterm))
print('Min of points:', min(midterm))

<<Midterm>>

Sum of points: 2290
Mean of points: 71.5625
Max of points: 98
Min of points: 0

# Total points of students

In [11]:
# I wrote the names of the students on a list
students = []
for i in df['Student']:
    students.append(i)

# I print total points of the students
print("<<STUDENTS>><<POINTS>>")
for i in range(32):
    print(students[i]+ ': '+ str(as1[i]*0.05+as2[i]*0.05+as3[i]*0.05+as4[i]*0.05+quiz[i]*0.3+midterm[i]*0.5))

<<STUDENTS>><<POINTS>>
Ablay Kundyz: 87.65
Abzhanov Assylan: 54.45
Adil Dinassyl: 43.65
Aibolat Dilnaz: 78.35
Aitu Nursaule: 55.0
Akimkozha Zanggar: 43.15
Ali Salida: 96.85
Alisher Nurgul: 77.75
Aman Shapagat: 92.3
Anarbayeva Dana: 80.5
Azhibayev Amir: 24.85
Batyrbek Nurbol: 60.9
Duisen Symbat: 80.75
Kairova Balerke: 86.9
Khalel Daryn: 89.5
Lukbek Yelubay: 94.0
Maksatkyzy Malika: 86.3
Mukhametkhanova Aruzhan: 76.15
Omar Zhaniya: 95.2
Ospan Adilet: 88.4
Ryszhanov Amannurly: 59.0
Sabirova Zhansaya: 62.7
Sapargaliyeva Guldar: 88.7
Seksenbay Akboken: 69.5
Sharimbaev Batir: 90.85
Sharip Merey: 42.4
Shayakhmetova Dayana: 79.1
Tileubayev Aslan: 71.4
Turekhan Aidana: 84.8
Yerniyazov Dias: 98.3
Zhakupova Zarina: 99.9
Zhassaganbergenov Baubek: 86.15

In [12]:
# Points of each student
for i in range(32):
    print("<<"+students[i]+">>")
    print("Assignment 1:", as1[i])
    print("Assignment 2:", as2[i])
    print("Assignment 3:", as3[i])
    print("Assignment 4:", as4[i])
    print("Quiz: ", quiz[i])
    print("Midterm: ", midterm[i])
    print()

<<Ablay Kundyz>>
Assignment 1: 100
Assignment 2: 90
Assignment 3: 100
Assignment 4: 103
Quiz:  85
Midterm:  85

<<Abzhanov Assylan>>
Assignment 1: 71
Assignment 2: 90
Assignment 3: 80
Assignment 4: 38
Quiz:  65
Midterm:  42

<<Adil Dinassyl>>
Assignment 1: 43
Assignment 2: 100
Assignment 3: 0
Assignment 4: 0
Quiz:  65
Midterm:  34

<<Aibolat Dilnaz>>
Assignment 1: 57
Assignment 2: 90
Assignment 3: 100
Assignment 4: 70
Quiz:  80
Midterm:  77

<<Aitu Nursaule>>
Assignment 1: 71
Assignment 2: 0
Assignment 3: 35
Assignment 4: 26
Quiz:  78
Midterm:  50

<<Akimkozha Zanggar>>
Assignment 1: 43
Assignment 2: 0
Assignment 3: 0
Assignment 4: 0
Quiz:  75
Midterm:  37

<<Ali Salida>>
Assignment 1: 100
Assignment 2: 95
Assignment 3: 100
Assignment 4: 92
Quiz:  110
Midterm:  89

<<Alisher Nurgul>>
Assignment 1: 100
Assignment 2: 90
Assignment 3: 40
Assignment 4: 85
Quiz:  80
Midterm:  76

<<Aman Shapagat>>
Assignment 1: 86
Assignment 2: 100
Assignment 3: 100
Assignment 4: 100
Quiz:  110
Midterm:  80

<<Anarbayeva Dana>>
Assignment 1: 90
Assignment 2: 100
Assignment 3: 75
Assignment 4: 67
Quiz:  83
Midterm:  78

<<Azhibayev Amir>>
Assignment 1: 25
Assignment 2: 100
Assignment 3: 0
Assignment 4: 42
Quiz:  55
Midterm:  0

<<Batyrbek Nurbol>>
Assignment 1: 0
Assignment 2: 70
Assignment 3: 0
Assignment 4: 58
Quiz:  75
Midterm:  64

<<Duisen Symbat>>
Assignment 1: 0
Assignment 2: 100
Assignment 3: 70
Assignment 4: 55
Quiz:  95
Midterm:  82

<<Kairova Balerke>>
Assignment 1: 100
Assignment 2: 100
Assignment 3: 90
Assignment 4: 58
Quiz:  95
Midterm:  82

<<Khalel Daryn>>
Assignment 1: 86
Assignment 2: 100
Assignment 3: 100
Assignment 4: 84
Quiz:  90
Midterm:  88

<<Lukbek Yelubay>>
Assignment 1: 80
Assignment 2: 70
Assignment 3: 100
Assignment 4: 120
Quiz:  90
Midterm:  97

<<Maksatkyzy Malika>>
Assignment 1: 86
Assignment 2: 100
Assignment 3: 95
Assignment 4: 85
Quiz:  85
Midterm:  85

<<Mukhametkhanova Aruzhan>>
Assignment 1: 100
Assignment 2: 100
Assignment 3: 70
Assignment 4: 33
Quiz:  65
Midterm:  83

<<Omar Zhaniya>>
Assignment 1: 86
Assignment 2: 60
Assignment 3: 80
Assignment 4: 120
Quiz:  98
Midterm:  97

<<Ospan Adilet>>
Assignment 1: 95
Assignment 2: 95
Assignment 3: 40
Assignment 4: 50
Quiz:  98
Midterm:  90

<<Ryszhanov Amannurly>>
Assignment 1: 60
Assignment 2: 0
Assignment 3: 80
Assignment 4: 0
Quiz:  95
Midterm:  47

<<Sabirova Zhansaya>>
Assignment 1: 86
Assignment 2: 100
Assignment 3: 80
Assignment 4: 0
Quiz:  98
Midterm:  40

<<Sapargaliyeva Guldar>>
Assignment 1: 57
Assignment 2: 100
Assignment 3: 100
Assignment 4: 67
Quiz:  105
Midterm:  82

<<Seksenbay Akboken>>
Assignment 1: 90
Assignment 2: 90
Assignment 3: 0
Assignment 4: 0
Quiz:  80
Midterm:  73

<<Sharimbaev Batir>>
Assignment 1: 100
Assignment 2: 70
Assignment 3: 75
Assignment 4: 94
Quiz:  93
Midterm:  92

<<Sharip Merey>>
Assignment 1: 0
Assignment 2: 0
Assignment 3: 0
Assignment 4: 0
Quiz:  78
Midterm:  38

<<Shayakhmetova Dayana>>
Assignment 1: 65
Assignment 2: 100
Assignment 3: 80
Assignment 4: 67
Quiz:  95
Midterm:  70

<<Tileubayev Aslan>>
Assignment 1: 71
Assignment 2: 95
Assignment 3: 90
Assignment 4: 54
Quiz:  73
Midterm:  68

<<Turekhan Aidana>>
Assignment 1: 100
Assignment 2: 70
Assignment 3: 100
Assignment 4: 58
Quiz:  83
Midterm:  87

<<Yerniyazov Dias>>
Assignment 1: 86
Assignment 2: 100
Assignment 3: 100
Assignment 4: 100
Quiz:  100
Midterm:  98

<<Zhakupova Zarina>>
Assignment 1: 100
Assignment 2: 100
Assignment 3: 100
Assignment 4: 100
Quiz:  108
Midterm:  95

<<Zhassaganbergenov Baubek>>
Assignment 1: 100
Assignment 2: 90
Assignment 3: 95
Assignment 4: 58
Quiz:  90
Midterm:  84

# Students with high points

In [13]:
# List of those who received 100 or more points in Assignment 1
for i in df[df['Assignment 1 (5/100)'] >= 100].index:
    print(i, df['Student'][i] + ': ' + str(df['Assignment 1 (5/100)'][i]))

0 Ablay Kundyz: 100
6 Ali Salida: 100
7 Alisher Nurgul: 100
13 Kairova Balerke: 100
17 Mukhametkhanova Aruzhan: 100
24 Sharimbaev Batir: 100
28 Turekhan Aidana: 100
30 Zhakupova Zarina: 100
31 Zhassaganbergenov Baubek: 100

In [14]:
# List of those who received 100 or more points in Assignment 2
for i in df[df['Assignment 2 (5/100)'] >= 100].index:
    print(i, df['Student'][i] + ': ' + str(df['Assignment 2 (5/100)'][i]))

2 Adil Dinassyl: 100
8 Aman Shapagat: 100
9 Anarbayeva Dana: 100
10 Azhibayev Amir: 100
12 Duisen Symbat: 100
13 Kairova Balerke: 100
14 Khalel Daryn: 100
16 Maksatkyzy Malika: 100
17 Mukhametkhanova Aruzhan: 100
21 Sabirova Zhansaya: 100
22 Sapargaliyeva Guldar: 100
26 Shayakhmetova Dayana: 100
29 Yerniyazov Dias: 100
30 Zhakupova Zarina: 100

In [15]:
# List of those who received 100 or more points in Assignment 3
for i in df[df['Assignment 3 (5/100)'] >= 100].index:
    print(i, df['Student'][i] + ': ' + str(df['Assignment 3 (5/100)'][i]))

0 Ablay Kundyz: 100
3 Aibolat Dilnaz: 100
6 Ali Salida: 100
8 Aman Shapagat: 100
14 Khalel Daryn: 100
15 Lukbek Yelubay: 100
22 Sapargaliyeva Guldar: 100
28 Turekhan Aidana: 100
29 Yerniyazov Dias: 100
30 Zhakupova Zarina: 100

In [16]:
# List of those who received 100 or more points in Assignment 4
for i in df[df['Assignment 4 (5/100)'] >= 100].index:
    print(i, df['Student'][i] + ': ' + str(df['Assignment 4 (5/100)'][i]))

0 Ablay Kundyz: 103
8 Aman Shapagat: 100
15 Lukbek Yelubay: 120
18 Omar Zhaniya: 120
29 Yerniyazov Dias: 100
30 Zhakupova Zarina: 100

In [17]:
# List of those who received 100 or more points in Quiz
for i in df[df['Quiz (30/100)'] >= 100].index:
    print(i, df['Student'][i] + ': ' + str(df['Quiz (30/100)'][i]))

6 Ali Salida: 110
8 Aman Shapagat: 110
22 Sapargaliyeva Guldar: 105
29 Yerniyazov Dias: 100
30 Zhakupova Zarina: 108

In [18]:
# List of those who received 90 or more points in Midterm
for i in df[df['Midterm (50/100)'] >= 90].index:
    print(i, df['Student'][i] + ': ' + str(df['Midterm (50/100)'][i]))

15 Lukbek Yelubay: 97
18 Omar Zhaniya: 97
19 Ospan Adilet: 90
24 Sharimbaev Batir: 92
29 Yerniyazov Dias: 98
30 Zhakupova Zarina: 95

# I sorted the names of students by ID

In [19]:
# I created list ID and sorted it by IDs
ID = []
for i in df['ID']:
    ID.append(i)
ID.sort()

# I found indexes by sorted IDs and non-sorted IDs. I printed their names and IDs with indexes
print('<<STUDENT>>            <<ID>>')
for i in ID:
    for j in df[df['ID'] == i].index:
        print(df['Student'][j] + ': ' + str(i))

<<STUDENT>>            <<ID>>
Sapargaliyeva Guldar: 190103025
Batyrbek Nurbol: 190103087
Khalel Daryn: 190103114
Abzhanov Assylan: 190103130
Azhibayev Amir: 190103156
Alisher Nurgul: 190103158
Zhassaganbergenov Baubek: 190103165
Lukbek Yelubay: 190103201
Sharimbaev Batir: 190103206
Akimkozha Zanggar: 190103221
Turekhan Aidana: 190103224
Omar Zhaniya: 190103238
Shayakhmetova Dayana: 190103252
Sharip Merey: 190103254
Tileubayev Aslan: 190103258
Ali Salida: 190103355
Ospan Adilet: 190107020
Adil Dinassyl: 190107021
Yerniyazov Dias: 190107073
Anarbayeva Dana: 190109002
Maksatkyzy Malika: 190109004
Sabirova Zhansaya: 190109005
Aibolat Dilnaz: 190109006
Aman Shapagat: 190109008
Kairova Balerke: 190109009
Ablay Kundyz: 190109010
Zhakupova Zarina: 190109013
Aitu Nursaule: 190109014
Ryszhanov Amannurly: 190109016
Mukhametkhanova Aruzhan: 190109017
Seksenbay Akboken: 190109018
Duisen Symbat: 190113008

# GPA of each student

In [28]:
# I found points of each student
scores = []
for i in range(32):
    scores.append((as1[i]+as2[i]+as3[i]+as4[i])*0.05+quiz[i]*0.3+midterm[i]*0.5)

# I put them their traditional name
for i in range(32):
    if scores[i] >= 90:
        print(df['Student'][i] + ": " + str(scores[i]) + " is Excellent")
    elif 70 <= scores[i] < 90:
        print(df['Student'][i] + ": " + str(scores[i]) + " is Good")
    elif 50 <= scores[i] < 70:
        print(df['Student'][i] + ": " + str(scores[i]) + " is Satisfactory")
    elif 50 > scores[i]:
        print(df['Student'][i] + ": " + str(scores[i]) + ' is Fall')

Ablay Kundyz: 87.65 is Good
Abzhanov Assylan: 54.45 is Satisfactory
Adil Dinassyl: 43.65 is Fall
Aibolat Dilnaz: 78.35 is Good
Aitu Nursaule: 55.0 is Satisfactory
Akimkozha Zanggar: 43.15 is Fall
Ali Salida: 96.85 is Excellent
Alisher Nurgul: 77.75 is Good
Aman Shapagat: 92.3 is Excellent
Anarbayeva Dana: 80.5 is Good
Azhibayev Amir: 24.85 is Fall
Batyrbek Nurbol: 60.9 is Satisfactory
Duisen Symbat: 80.75 is Good
Kairova Balerke: 86.9 is Good
Khalel Daryn: 89.5 is Good
Lukbek Yelubay: 94.0 is Excellent
Maksatkyzy Malika: 86.3 is Good
Mukhametkhanova Aruzhan: 76.15 is Good
Omar Zhaniya: 95.2 is Excellent
Ospan Adilet: 88.4 is Good
Ryszhanov Amannurly: 59.0 is Satisfactory
Sabirova Zhansaya: 62.7 is Satisfactory
Sapargaliyeva Guldar: 88.7 is Good
Seksenbay Akboken: 69.5 is Satisfactory
Sharimbaev Batir: 90.85 is Excellent
Sharip Merey: 42.4 is Fall
Shayakhmetova Dayana: 79.1 is Good
Tileubayev Aslan: 71.4 is Good
Turekhan Aidana: 84.8 is Good
Yerniyazov Dias: 98.3 is Excellent
Zhakupova Zarina: 99.9 is Excellent
Zhassaganbergenov Baubek: 86.15 is Good

In [31]:
# I found their LGs and GPA points
for i in range(32):
    if scores[i] >= 95:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG is A, Point - 4")
    elif 90 <= scores[i] < 95:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG is A-, Point - 3.67")
    elif 85 <= scores[i] < 90:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - B+, Point - 3.33")
    elif 80 <= scores[i] < 85:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - B, Point - 3")
    elif 75 <= scores[i] < 80:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - B-, Point - 2.67")
    elif 70 <= scores[i] < 75:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - C+, Point - 2.33")
    elif 65 <= scores[i] < 70:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - C, Point - 2")
    elif 60 <= scores[i] < 65:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - C-, Point - 1.67")
    elif 55 <= scores[i] < 60:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - D+, Point - 1.33")
    elif 50 <= scores[i] < 55:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - D, Point - 1")
    else:
        print(df['Student'][i] + " " + str(scores[i]) + ": " + " LG - F, Point - 0")

Ablay Kundyz 87.65:  LG - B+, Point - 3.33
Abzhanov Assylan 54.45:  LG - D, Point - 1
Adil Dinassyl 43.65:  LG - F, Point - 0
Aibolat Dilnaz 78.35:  LG - B-, Point - 2.67
Aitu Nursaule 55.0:  LG - D+, Point - 1.33
Akimkozha Zanggar 43.15:  LG - F, Point - 0
Ali Salida 96.85:  LG is A, Point - 4
Alisher Nurgul 77.75:  LG - B-, Point - 2.67
Aman Shapagat 92.3:  LG is A-, Point - 3.67
Anarbayeva Dana 80.5:  LG - B, Point - 3
Azhibayev Amir 24.85:  LG - F, Point - 0
Batyrbek Nurbol 60.9:  LG - C-, Point - 1.67
Duisen Symbat 80.75:  LG - B, Point - 3
Kairova Balerke 86.9:  LG - B+, Point - 3.33
Khalel Daryn 89.5:  LG - B+, Point - 3.33
Lukbek Yelubay 94.0:  LG is A-, Point - 3.67
Maksatkyzy Malika 86.3:  LG - B+, Point - 3.33
Mukhametkhanova Aruzhan 76.15:  LG - B-, Point - 2.67
Omar Zhaniya 95.2:  LG is A, Point - 4
Ospan Adilet 88.4:  LG - B+, Point - 3.33
Ryszhanov Amannurly 59.0:  LG - D+, Point - 1.33
Sabirova Zhansaya 62.7:  LG - C-, Point - 1.67
Sapargaliyeva Guldar 88.7:  LG - B+, Point - 3.33
Seksenbay Akboken 69.5:  LG - C, Point - 2
Sharimbaev Batir 90.85:  LG is A-, Point - 3.67
Sharip Merey 42.4:  LG - F, Point - 0
Shayakhmetova Dayana 79.1:  LG - B-, Point - 2.67
Tileubayev Aslan 71.4:  LG - C+, Point - 2.33
Turekhan Aidana 84.8:  LG - B, Point - 3
Yerniyazov Dias 98.3:  LG is A, Point - 4
Zhakupova Zarina 99.9:  LG is A, Point - 4
Zhassaganbergenov Baubek 86.15:  LG - B+, Point - 3.33

# Grouping with GPA

In [46]:
# Firstly, I created empty lists
excellent = []
good = []
satisfactory = []
fall = []

In [47]:
# I grouped them by points
for i in range(32):
    if scores[i] >= 90:
        excellent.append(df['Student'][i] + ": " + str(scores[i]))
    elif 70 <= scores[i] < 90:
        good.append(df['Student'][i] + ": " + str(scores[i]))
    elif 50 <= scores[i] < 70:
        satisfactory.append(df['Student'][i] + ": " + str(scores[i]))
    elif 50 > scores[i]:
        fall.append(df['Student'][i] + ": " + str(scores[i]))

In [48]:
# print all groups
print("<<EXCELLENT>>")
for i in excellent:
    print(i)
print()

print("<<GOOD>>")
for i in good:
    print(i)
print()

print("<<SATISFACTORY>>")
for i in satisfactory:
    print(i)
print()

print("<<FALL>>")
for i in fall:
    print(i)
print()

<<EXCELLENT>>
Ali Salida: 96.85
Aman Shapagat: 92.3
Lukbek Yelubay: 94.0
Omar Zhaniya: 95.2
Sharimbaev Batir: 90.85
Yerniyazov Dias: 98.3
Zhakupova Zarina: 99.9

<<GOOD>>
Ablay Kundyz: 87.65
Aibolat Dilnaz: 78.35
Alisher Nurgul: 77.75
Anarbayeva Dana: 80.5
Duisen Symbat: 80.75
Kairova Balerke: 86.9
Khalel Daryn: 89.5
Maksatkyzy Malika: 86.3
Mukhametkhanova Aruzhan: 76.15
Ospan Adilet: 88.4
Sapargaliyeva Guldar: 88.7
Shayakhmetova Dayana: 79.1
Tileubayev Aslan: 71.4
Turekhan Aidana: 84.8
Zhassaganbergenov Baubek: 86.15

<<SATISFACTORY>>
Abzhanov Assylan: 54.45
Aitu Nursaule: 55.0
Batyrbek Nurbol: 60.9
Ryszhanov Amannurly: 59.0
Sabirova Zhansaya: 62.7
Seksenbay Akboken: 69.5

<<FALL>>
Adil Dinassyl: 43.65
Akimkozha Zanggar: 43.15
Azhibayev Amir: 24.85
Sharip Merey: 42.4

# That's all for now