# <center>Assignment 3

Name: Sharimbae Batir

**You need to work with data from the about 128 years of Olympic history by pandas. Write code and perform computations in the cells below. There are seven questions with one bonus .**

Download the files `winter.csv` and `summer.csv` from [here](https://drive.google.com/drive/folders/1k6BtheuRBaLcsF7698-kolc3LZFocaIN?usp=sharing).

In [4]:
import pandas as pd

In [5]:
PATH1 = 'summer.csv'
PATH2 = 'winter.csv'

In [6]:
dataSummer = pd.read_csv(PATH1)
dataSummer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze

In [7]:
dataWinter = pd.read_csv(PATH2)
dataWinter

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold
...,...,...,...,...,...,...,...,...,...
5765,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
5766,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
5767,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
5768,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
5769,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

__1. Concatenate these datasets and sort them by year.__

In [8]:
df = dataSummer.merge(dataWinter, how='outer')
df.sort_values('Year')

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
97,1896,Athens,Gymnastics,Artistic G.,"LOUNDRAS, Dimitrios",GRE,Men,"Team, Parallel Bars",Bronze
98,1896,Athens,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,"Team, Parallel Bars",Bronze
99,1896,Athens,Gymnastics,Artistic G.,"BÖCKER, Konrad",GER,Men,"Team, Parallel Bars",Gold
100,1896,Athens,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,"Team, Parallel Bars",Gold
...,...,...,...,...,...,...,...,...,...
36527,2014,Sochi,Ice Hockey,Ice Hockey,"LACASSE, Genevieve",CAN,Women,Ice Hockey,Gold
36528,2014,Sochi,Ice Hockey,Ice Hockey,"LAROCQUE, Jocelyne",CAN,Women,Ice Hockey,Gold
36529,2014,Sochi,Ice Hockey,Ice Hockey,"MIKKELSON, Meaghan",CAN,Women,Ice Hockey,Gold
36522,2014,Sochi,Ice Hockey,Ice Hockey,"HEFFORD, Jayna",CAN,Women,Ice Hockey,Gold
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

__2. Sum up the total missing values and drop rows with null data.__

In [9]:
df2 = df.dropna()
df2

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver
...,...,...,...,...,...,...,...,...,...
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze

In [16]:
missing = df.isna()
missing.sum()

Year          0
City          0
Sport         0
Discipline    0
Athlete       0
Country       4
Gender        0
Event         0
Medal         0
Points        0
Numeric       0
dtype: int64

__3. Write a function to update the dataframe to include a new column called "Points" for Games which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created.__

In [11]:
points = []
for i in df['Medal']:
    if i == 'Gold':
        points.append(3)
    elif i == 'Silver':
        points.append(2)
    elif i == 'Bronze':
        points.append(1)
        
df['Points'] = points
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Points
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,3
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,2
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,1
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,3
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,2
...,...,...,...,...,...,...,...,...,...,...
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,1
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,3
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,2
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,3
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,1

__4. View repeating rows by Athlete feature and displays all the duplicated Athletes in order.__

In [10]:
df['Athlete'].value_counts()

PHELPS, Michael         22
LATYNINA, Larisa        18
ANDRIANOV, Nikolay      15
MANGIAROTTI, Edoardo    13
ONO, Takashi            13
                        ..
GUNN, Charles            1
FACCHIN, Andrea          1
MOREAU, Madeleine        1
LUNDBÄCK, Sven-Aake      1
ARSLANAGIC, Abaz         1
Name: Athlete, Length: 26495, dtype: int64

I did it based on an example

__5. Copy existing dataframe and delete all rows that repeats more than twice by Athlete column__

In [11]:
df3 = df.copy()
athletes = []
indexes_more_than_two = []
counter = 0
for i in df3['Athlete']:
    if athletes.count(i) > 1:
        indexes_more_than_two.append(counter)
    else:
        athletes.append(i)
    counter += 1

df3.drop(index=indexes_more_than_two)

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Points
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,3
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,2
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,1
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,3
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,2
...,...,...,...,...,...,...,...,...,...,...
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,1
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,3
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,2
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,3
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,1

It was a very difficult task)

__6. The dataset has elements of categorical data in the “Sport” column. Create a new dataframe with convertion of Sport column by one hot encoded column and left join this dataset to our main table.__

In [14]:
sports = []
for i in df['Sport']:
    if i in sports:
        continue
    else:
        sports.append(i)    
sports.sort()

df['Numeric'] = 0
df.Numeric = pd.Categorical(df.Sport, sports, ordered=True)
df.Numeric = df.Numeric.cat.codes
df

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Points,Numeric
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,3,0
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,2,0
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,1,0
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,3,0
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,2,0
...,...,...,...,...,...,...,...,...,...,...,...
36930,2014,Sochi,Skiing,Snowboard,"JONES, Jenny",GBR,Women,Slopestyle,Bronze,1,37
36931,2014,Sochi,Skiing,Snowboard,"ANDERSON, Jamie",USA,Women,Slopestyle,Gold,3,37
36932,2014,Sochi,Skiing,Snowboard,"MALTAIS, Dominique",CAN,Women,Snowboard Cross,Silver,2,37
36933,2014,Sochi,Skiing,Snowboard,"SAMKOVA, Eva",CZE,Women,Snowboard Cross,Gold,3,37
36934,2014,Sochi,Skiing,Snowboard,"TRESPEUCH, Chloe",FRA,Women,Snowboard Cross,Bronze,1,37

__Bonus: Find interesting information about Olympic games by analyzing a data with pandas queries__

I sent it in Moodle.